.yith-tth-testimonials {
    float: center; 
    margin: auto;
    display: grid; 
    
     
  }
  @media (min-width: 1281px) {
    .yith-tth-testimonials {
    
    grid-template-columns: 1fr 1fr 1fr;  
  }
}
  @media (min-width: 768px) and (max-width: 1024px) {
    .yith-tth-testimonials {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 481px) and (max-width: 767px) {
    .yith-tth-testimonials {
      grid-template-columns: 1fr;
    }
  }
  
.yith-tth-container {
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 2%;
    background-color: white;
    box-shadow: 5px 5px 3px 3px rgba(187, 187, 187, 0.418);
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: 30px;
  }
.yith-tth-container-vip {
  border: 1px solid rgba(252, 223, 96, 0.678);
    border-radius: 2%;
    background-color: white;
    box-shadow: 5px 5px 3px 3px rgba(255, 234, 166, 0.192);
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: 30px;
    }
.yith-tth-zoom{
    border: 1px solid rgba(0, 0, 0, 0.253);
    border-radius: 2%;
    background-color: white;
    box-shadow: 5px 5px 3px 3px rgba(187, 187, 187, 0.418);
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: 30px;
    transition: transform .2s;
  }
.yith-tth-zoom:hover{
    transform: scale(1.05);
  }
.yith-tth-zoom-vip {
    border: 1px solid rgba(252, 223, 96, 0.678);
    border-radius: 2%;
    background-color: white;
    box-shadow: 5px 5px 3px 3px rgba(255, 234, 166, 0.192);
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: 30px;
    transition: transform .2s;
    }
.yith-tth-zoom-vip:hover{
      transform: scale(1.05);
    }  
.yith-tth-highlight{
    border-radius: 2%;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(16, 179, 255, 0.363), 0 0 25px rgb(0, 89, 131), 0 0 5px rgba(119, 208, 250, 0.37);
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: 30px;
    border: 1px solid rgba(33, 211, 255, 0.438);
    
  }
  .yith-tth-highlight-vip {
    border: 1px solid rgb(252, 226, 109);
    border-radius: 2%;
    background-color: white;
    box-shadow: 1px 1px 2px rgba(236, 253, 0, 0.363), 0 0 25px rgb(255, 224, 51), 0 0 5px rgba(176, 180, 120, 0.37);
    width: 400px;
    height: 400px;
    padding: 15px;
    margin: 30px;
    }  

.yith-tth-subtitle{
  position: relative;
  margin: 0px;
  padding: 0px;
} 
.yith-tth-rating{
  position: relative;
  float: top;
  margin: 0px;
  padding: 0px;
} 

.yith-tth-badge{
  position: relative;
  margin: 0px;
  padding: 0px;
  display: inline;
  float: right;
  height: 30px ;
  width: 110px ;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: rgba(0, 120, 189, 0.76);
  border-radius: 20px;
  color: azure;
}
.yith-tth-head{
  position: relative;
  margin: 0px;
  padding: 20px;
  width: 50%;
}
.yith-tth-container-header {
  display: flex;
  position: relative;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 35%;
  
  }
  
.yith-tth-image {
  margin: 0px;
  padding: 0px;
    width: 30%;
  }
  
.yith-tth-image-img {
    border-radius: 50%;
    min-width: 80px;
    width: 80px;
  }
  
.yith-tth-title {
  margin: 0px;
  padding: 0px;
    font-size: 1.2em;
    font-weight: 500;
  }
  
.yith-tth-body {
    position: relative;
    bottom: 0;
    font-size: 1em;
    margin: 0px;
    padding: 20px;
    height: 50%;
  }

#yith-tth-blackicon{
  color: black;
}
.yith-tth-likes-up { 
  font-size: 35px;

}
.yith-tth-likes-up a {
  text-decoration: none; 

}
.yith-tth-likes-down { 
  font-size: 35px;

}
.yith-tth-likes-down a {
  text-decoration: none; 

}